.sliderSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderWrapper{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.image {
    width: 500px;
    height: 360px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}

.arrow {
    color: #59cf3b;
    font-size: 1.5em; 
}

.arrowButton {
    border: none;
    background: none;
}

.imagesCounter {
    margin-bottom: 10px;
    font-family: Nunito, sans-serif;
    color: #59cf3b;
    font-weight: bold;
}