.contentWrapper {
    width: 1165px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pageTitle {
    font-family: Nunito, sans-serif;
    font-size: 32px;
    color: #59CF3B;
    margin-top: 18px;
    font-weight: bold;
}

.chartsContainer {
    width: 100%;
    display: flex;
    margin-top: 23px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.chartContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chartTitle {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    color: #8A8A8A;
}