.contentWrapper {
    width: 1165px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pageTitle {
    font-family: Nunito, sans-serif;
    font-size: 32px;
    color: #59CF3B;
    margin-top: 18px;
}