.gMapsLinkCell,
.imagesCell {
    text-align: center;
}

.statusCell {
    display: flex;
    justify-content: space-between;
}

.filterContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.filterTitle {
    text-align: left;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    color: #59CF3B;
    font-weight: bold;
    margin-right: 10px;
}